  /**************************/
 /******** header CSS ******/
/**************************/


/* bootstap header menu */
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-heading-color);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 600;
  color: var(--bs-heading-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: all .4s ease;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li{
    position: relative;
  }
  .dropdown-menu .submenu{ 
    display: none;
    position: absolute;
    left:100%; 
    top:-7px;
    animation:fadeInUp 500ms ease-in-out forwards
  }
  .dropdown-menu .submenu-left{ 
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{
    background-color: #f1f1f1 
  }
  .dropdown-menu > li:hover > .submenu{
    display: block; 
  }
}	
.nav-link.dropdown-toggle::after {
  content: "+";
  border: 0;
  margin: 0 5px;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  top: 4px;
  position: relative;
  transition: all 0.3s ease;
}
.nav-link:hover.dropdown-toggle::after{
  transform: rotate(90deg);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bs-primary);
}
.dropdown-item:hover, .dropdown-item:focus {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-body-bg-rgb), 0.7);
}
.nav-link .dropdown-toggle .active,
.dropdown .dropdown-menu.show .dropdown-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 3px;
  height: 0;
  background: var(--bs-primary);
  transition: height .5s,opacity .4s ease,top .4s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0);
}
.nav-link .dropdown-toggle .active,
.dropdown .dropdown-menu.show .dropdown-item:hover::before {
  height: calc(100% + 1px);
  opacity: 1;
  visibility: visible;
  top: 0;
  left: -1px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  animation: fadeInDown 0.5s;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0)
  }

  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}
/* ============ desktop view .end// ============ */

.dropdown .dropdown-menu.show {
  transition: all .5s ease-in-out;
  --bs-border-radius: 0 0 10px 10px;
  --bs-dropdown-spacer: 0;
  --bs-dropdown-border-width: 0;
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-link-active-color: var(--bs-primary);
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-active-bg: transparent;
  --bs-dropdown-item-padding-x: 20px;
  --bs-dropdown-item-padding-y: 8px;
  --bs-dropdown-font-size: 16px;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-item-separator-color: var(--bs-dropdown-link-color);
  animation: growDown 500ms ease-in-out forwards;
  transform-origin: top center;
  // overflow: hidden;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}



/* ============ small devices ============ */

.menu-toggler {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0;
  background: var(--bs-primary);
  z-index: 1000;
  transition: all 0.4s ease;
  &:hover{
    box-shadow: 0px 0px 5px 5px rgba(var(--bs-primary-rgb), 0.24);
  }
}
.menu-toggler span {
  position: relative;
  display: block;
  width: 22px;
  margin-inline: auto;
  height: 2px;
  background: var(--bs-white);
  border-radius: 10px;
  transition: transform 200ms 0ms, top 200ms 160ms;
}

.menu-toggler span:nth-child(1) {
  top: -4px;
}
.menu-toggler span:nth-child(3) {
  top: 4px;
}
// .menu-toggler.active span:nth-child(1) {
//   top: 0;
//   transform: rotateZ(45deg);
//   transition: top 200ms 0ms, transform 200ms 160ms;
// }
// .menu-toggler.active span:nth-child(2) {
//   transform: scale(0);
// }

// .menu-toggler.active span:nth-child(3) {
//   top: -4px;
//   transform: rotateZ(-45deg);
//   transition: top 200ms 0ms, transform 200ms 160ms;
// }

// menu offcanvas
.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
  --bs-offcanvas-width: 300px;
}
.menu-close {
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  transition: all 0.4s ease;
  &:hover{
    box-shadow: 0px 0px 5px 5px rgba(var(--bs-primary-rgb), 0.24);
  }
}

.main_nenu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

.main_nenu ul .menu-item .dropdown {
  display: none;
  left: 20px;
  visibility: visible;
  opacity: 1;
  width: 100%;
  padding: 0 20px 0px 0;
  z-index: 3;
}
// }

.main_nenu ul .menu-item .dropdown .submenu{
  display: none;
  left: 20px;
  position: relative;
}
.main_nenu ul .dropdown-arrow {
  position: relative;
}
.main_nenu ul .dropdown-arrow::before {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\2b";
  right: 0px;
  font-size: 14px;
  top: 10px;
  color: var(--bs-heading-color);
  transition: all 0.3s ease;
}
.main_nenu ul .openUL.dropdown-arrow::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f068";
  color: var(--bs-primary);
}
.main_nenu li a {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  color: var(--bs-heading-color);
  border-bottom: 1px solid var(--bs-border);
  transition: all 0.3s ease;
  padding: 10px 10px 10px 0;
  text-decoration: none;
  position: relative;
  display: flex;
  &:hover{
    color: var(--bs-primary);
  }
}
.main_nenu li a.active{
  color: var(--bs-primary);
}



.nice-select {
	background-color: transparent;
}
.nice-select::after {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\2b";
  right: 0px;
  font-size: 14px;
  color: var(--bs-heading-color);
  border: 0;
  transform: rotate(0);
  margin-top: -20px;
}
.nice-select.open::after {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
  content: "\f068";
  font-family: "Font Awesome 6 Pro";
}


.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: var(--bs-white);
  right: -6px;
  text-align: right;
  width: 30px;
  background: var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 30px;
}