/*************************/
/******** Hero css ******/
/***********************/
.section-hero{

  
    .section-hero .hero-title {
        max-width: 555px;
    }
    .hero-description{
        max-width: 450px;
    }
}
.hero-image-wrapper{
    width: 630px;
    height: 490px;
    margin-left: auto;
    @include media-breakpoint-down(xxl) { 
        width: 541px;
        height: 490px;
        margin: auto;
    }
    @include media-breakpoint-down(xl) { 
        width: 460px;
        height: 370px;
    }
    @include media-breakpoint-down(lg) { 
        width: 523px;
        height: 430px;
    }
    @include media-breakpoint-down(md) { 
        width: 380px;
        height: 300px;
    }
    @media only screen and (max-width: 480px) {
        width: 320px;
        height: 260px;
    }
    img{
        width: 100%;
        height: auto;
    }
}
/************************************/
/******** Accordion CSS Start ******/
/**********************************/




.accordion {
    --#{$prefix}accordion-btn-focus-box-shadow: 0;
    .accordion-item{
        border-radius: 8px;
    }
    .accordion-item:not(:last-child) {
       margin-bottom: 24px;
    }
    .accordion-body {
        padding: 0px 30px 20px 30px;
        background: var(--bs-white);
        border-radius: 0 0 8px 8px;
    }
}

.accordion-button::after {
    content: "\2b";
    font-family: "Font Awesome 6 Pro";
    color: var(--bs-primary);
    background-image: none;
}
.accordion-button:not(.collapsed)::after {
    content: "\f068";
    font-family: "Font Awesome 6 Pro";
    background-image: none;
    transform: inherit;
}
.accordion-button{
    border-radius: 8px 8px 8px 8px;
    padding: 20px 30px 20px 30px;
    color: var(-bs-accordion-btn-color);
    font-family: var(--font-family-inter);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}
.accordion-item:first-of-type > .accordion-header .accordion-button{
    border-radius: 8px 8px 0 0;
}
.accordion-item:first-of-type > .accordion-header .accordion-button.collapsed{
    border-radius: 8px 8px 8px 8px;
}
.accordion-button:not(.collapsed){
    border-radius: 8px 8px 0px 0px;
}
button.accordion-button.collapsed {
    border-radius: 8px 8px 8px 8px;
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-radius: 8px 8px 8px 8px;
}

/**********************************/
/******** Accordion CSS End ******/
/********************************/
