/****************************/
/******** service CSS ******/
/**************************/

.service-item{
    background: var(--bs-white);
    border-radius: 12px;
    transition: all 0.4s ease;
    .service-icon{
        width: 94px;
        height: 92px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
            border-radius: 12px;
        }
    }
    
    .service-body{
        padding: 38px 27px 26px 27px;
        @include media-breakpoint-down(lg){
            padding: 20px 20px 20px 20px;
        }
    }
    .service-title{
        font-family: var(--font-family-inter);
        line-height: 1.4;
        a{
            text-decoration: none;
            color: currentColor;
        }
    }
    .service-desc{
        color: var(--bs-body-color);
        font-family: var(--bs-body-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.429;
    }
    &:hover{
        box-shadow: 0px 40px 80px 0px rgba(71, 71, 71, 0.25);
    }
}

/** === service-item style 2 === */
.service-item-style-2{
    padding: 34px 30px 24px 30px;
   
    .service-body{
        padding: 26px 0px 0px 0px;
    }
    .service-title{
        margin-bottom: 14px;
    }
    .service-desc{
        margin-bottom: 18px;
    }
    &:hover{
        box-shadow: 0px 40px 80px 0px rgba(71, 71, 71, 0.25);
    }
}

/** === service-item style 3 === */


.service-item-style-3{
    background: var(--bs-white);
    border-radius: 12px;
    transition: all 0.4s ease;
    border: 1px solid var(--bs-border-color);
    .service-item-header {
        border-radius: 12px;
        padding: 30px;
        background: #FFF1FE;
    }
    .service-header-bg-2{
        background: #F1F7FF;
    }
    .service-header-bg-3{
        background: #FFF9F1;
    }
    .service-header-bg-4{
        background: #F4F1FF;
    }
    .service-icon{
        width: 70px;
        height: 70px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
            border-radius: 8px;
        }
    }
    .service-body{
        padding: 35px 27px 25px 27px;
        @include media-breakpoint-down(lg){
            padding: 20px 20px 20px 20px;
        }
    }
    .service-title{
        font-family: var(--font-family-inter);
        margin-bottom: 18px;
        a{
            text-decoration: none;
            color: currentColor;
        }
    }
    .service-desc{
        color: var(--bs-body-color);
        font-family: var(--bs-body-font-family);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.429;
    }
    &:hover{
        box-shadow: 0px 40px 80px 0px rgba(71, 71, 71, 0.25);
        border: 1px solid var(--bs-body-bg);
    }
}

.service-item-style-4{
    padding: 34px 30px 24px 30px;
    border-radius: 0;
    border: 1px solid var(--bs-border-color);
    .service-body{
        padding: 26px 0px 0px 0px;
    }
    .service-title{
        margin-bottom: 14px;
    }
    .service-desc{
        margin-bottom: 18px;
    }
    &:hover{
        box-shadow: 0px 40px 80px 0px rgba(71, 71, 71, 0.25);
        border: 1px solid var(--bs-primary);
    }
}

.blog-grid-image,
.article-image,
.service-details-iamge{
    img[data-src] {
        width: 100%; /* Example: make the image take 100% width */
    }
}